.App {
  margin: 50px;
}

.count {
  width: 500px;
  border: 1px solid gray;
  padding: 20px;
  text-align: center;
}

.button {
  font-size: 30px;
  background-color: cyan;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
}

.text {
  margin: 0px 20px;
  font-size: 30px;
}

.input-group span {
  width: 150px;
  justify-content: center;
}

a {
  text-decoration: none !important;
  font-size: 1rem;
  padding: 5px;
}

.home {
  font-size: 1.5rem;
  color: white;
  margin-right: 20px;
}

.navbar-nav .active {
  color: white;
}

.navbar-nav a {
  color: #d1cfcf;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.photo {
  border-radius: 50%;
  cursor: pointer;
}

.heart {
  color: red;
  cursor: pointer;
}

.rcnt,
.fcnt {
  color: gray;
  font-size: 0.7rem;
}

.message {
  color: gray;
}

.uname {
  font-size: 0.5;
  color: grey;
}

.delete {
  cursor: pointer;
  font-size: 1.5rem;
  color: red;
}
